.hidden {
  opacity: 0 !important;
}

.hiddennable {
  transition: opacity 0.2s ease-out;
}

.hoverable:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
}

.collapse-button {
  width: 100%;
  max-width: 200px;
  margin: 0;
  padding: 5px 0;
}

.collapsable,
.collapsable-m {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.collapsable.open,
.collapsable-m.open {
  max-height: 1000px;
}

@media (min-width: 768px) {
  .collapsable-m {
    max-height: fit-content;
    overflow: auto;
    transition: none;
  }

  .collapsable-m.open {
    max-height: fit-content;
  }
}
